@use "./mixins" as *;

.spacing-h-4>* {
    margin-right: 0.273rem;
}

.spacing-h-4>*:last-child {
    margin-right: 0rem;
}

.spacing-h-4>overlay>*:first-child {
    margin-right: 0.273rem;
}

.spacing-h-4>overlay:last-child>* {
    margin-right: 0rem;
}

.spacing-h-5>* {
    margin-right: 0.341rem;
}

.spacing-h-5>*:last-child {
    margin-right: 0rem;
}

.spacing-h-5>widget>* {
    margin-right: 0.341rem;
}

.spacing-h-5>widget:last-child>* {
    margin-right: 0rem;
}

.spacing-h-5>revealer>* {
    margin-right: 0.341rem;
}

.spacing-h-5>revealer:last-child>* {
    margin-right: 0rem;
}

.spacing-h-5>scrolledwindow>* {
    margin-right: 0.341rem;
}

.spacing-h-5>scrolledwindow:last-child>* {
    margin-right: 0rem;
}

.spacing-h-15>* {
    margin-right: 1.023rem;
}

.spacing-h-15>*:last-child {
    margin-right: 0rem;
}

.spacing-h-15>revealer>* {
    margin-right: 1.023rem;
}

.spacing-h-15>revealer:last-child>* {
    margin-right: 0rem;
}

.spacing-h-15>scrolledwindow>* {
    margin-right: 1.023rem;
}

.spacing-h-15>scrolledwindow:last-child>* {
    margin-right: 0rem;
}

.icon-material {
    @include icon-material;
}

@each $spacing in (5, 8, 10, 15, 20) {
    @each $dir in ("top", "bottom", "left", "right") {
        .margin-#{$dir}-#{$spacing} {
            margin-#{$dir}: 0.068rem * $spacing;
        }
        .padding-#{$dir}-#{$spacing} {
            padding-#{$dir}: 0.068rem * $spacing;
        }
    }
    .padding-#{$spacing} {
        padding: 0.068rem * $spacing;
    }
    .margin-#{$spacing} {
        padding: 0.068rem * $spacing;
    }
}
