@use 'sass:color';

$background: #091518;
$onBackground: #D8E5E9;

$errorContainer: #93000A;

$surfaceContainerLow: #121D21;
$surfaceContainer: #162125;
$surfaceContainerHigh: #202C2F;

$onSecondaryContainer: #C7E9FF;

$onSurface: #D8E5E9;

$primary: #00D9FC;
$onPrimary: #003640;

$layer0: $background;
$onLayer0: $onBackground;
$onLayer0Inactive: color.mix($onLayer0, $layer0, 70%);
$layer0Active: $surfaceContainerHigh;
$onLayer0Active: $onSurface;

$layer1: $surfaceContainerLow;
$onLayer1: $onSurface;
$onLayer1Inactive: color.mix($onLayer1, $layer1, 45%);

$layer2: color.mix($surfaceContainer, $surfaceContainerHigh, 55%);
$onLayer2: $onSurface;
$layer2Hover: color.mix($layer2, $onLayer2, 90%);
$layer2Active: color.mix($layer2, $onLayer2, 80%);

$windowtitleOnLayer0: $onLayer0;
$windowtitleOnLayer0Inactive: $onLayer0Inactive;

$workspaceOnLayer1Inactive: $onLayer1Inactive;

$workspaceOnLayer2: $onSecondaryContainer;

$workspaceLayer3: $primary;
$workspaceOnLayer3: $onPrimary;

$timeOnLayer1: $onLayer1;
$dateOnLayer1: $onLayer1;

$utilsLayer2: $layer2;
$utilsOnLayer2: $onLayer2;

$barspacerightOnLayer0: $onLayer0;
