@use "sass:color";
@use "./colors" as *;

$rounding_small: 16px;
$rounding_medium: 1.159rem;
$rounding_large: 24px;
$elevation_margin: 8px;

@mixin mainfont {
    font-family: "Maple Mono NF", "Roboto", "Ubuntu", "Noto Sans", sans-serif;
}

@mixin small-rounding {
    border-radius: $rounding_small;
    -gtk-outline-radius: $rounding_small;
}

@mixin normal-rounding {
    border-radius: $rounding_medium;
    -gtk-outline-radius: $rounding_medium;
}

@mixin large-rounding {
    border-radius: $rounding_large;
    -gtk-outline-radius: $rounding_large;
}

@mixin full-rounding {
    border-radius: 9999px;
    -gtk-outline-radius: 9999px;
}

@mixin element_decel {
    transition: 300ms cubic-bezier(0, 0.55, 0.45, 1);
}

@mixin icon-material {
    // Material Design Icons
    font-family: "Material Symbols Rounded", "MaterialSymbolsRounded", "Material Symbols Outlined",
        "Material Symbols Sharp";
}

@mixin elevation2 {
    box-shadow: 0px 0px 0px color.adjust($shadow, $alpha: -0.55);
    margin: $elevation_margin;
}

@mixin elevation-border {
    border-top: 1px solid $surfaceContainer;
    border-left: 1px solid $surfaceContainer;
    border-right: 1px solid $surfaceContainer;
    border-bottom: 1px solid $surfaceContainer;
}

@mixin actiontext {
    color: $actiontext;
}
