@use './mixins' as *;
@use './colors' as *;

.txt {
    color: $onBackground;
}

.txt-size-16 {
    @include mainfont;
    font-size: 16pt;
}

.txt-size-14 {
    @include mainfont;
    font-size: 14pt;
}

.txt-size-12 {
    @include mainfont;
    font-size: 12pt;
}

.txt-size-11 {
    @include mainfont;
    font-size: 11pt;
}

.txt-size-10 {
    @include mainfont;
    font-size: 10pt;
}

.txt-onLayer1 {
    color: $onLayer1;
}

.txt-action {
    @include actiontext;
}
