.spotify-container {
    border-radius: 15px;
    background-color: $bg;
}

.spotify-img {
    margin: 1.2em;
    min-width: 13em;
    min-height: 13em;
    border-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.spotify-right-container {
    margin: 1.2em;
    min-width: 14em;
}

.spotify-song-data-container {
    padding: 1em;
    margin-top: 1em;
    border-radius: 0.8em;
    background-color: $bg-alt;
}

.spotify-title {
    color: $green;
    font-size: 1.1em;
    font-weight: bold;
}

.spotify-artist {
    color: $red;
    font-size: 0.7em;
    font-weight: bold;
}

.spotify-album {
    color: $fg;
    font-size: 0.7em;
    font-style: italic;
}

.spotify-controls {
    color: $cyan;
    margin-top: 3em;
}

.spotify-controls button {
    font-size: 1.6em;
    font-weight: bold;
}

.spotify-controls button:hover {
    color: $green;
    transition: ease 0.5s;
}
