.spotify-container {
    border-radius: 10px;
    background-color: $bg;
}

.spotify-img-container {
  padding: 20px;
  min-width: 180px;
  min-height: 180px;
}

.spotify-img {
    border-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.spotify-inner-right-container {
    min-width: 180px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: $bg-alt;
}

.spotify-title {
    color: $green;
    font-size: 22;
    font-weight: bold;
}

.spotify-artist {
    color: $red;
    font-size: 16px;
    font-weight: bold;
}

.spotify-album {
    color: $fg;
    font-size: 12px;
    font-style: italic;
}

.spotify-controls {
    color: $cyan;
    margin-top: 10px;
}

.spotify-controls button {
    font-size: 20px;
    font-weight: bold;
}

.spotify-controls button:hover {
    color: $green;
    transition: ease 0.5s;
}
