.spotify-container {
    border-radius: 10px;
    background-color: $bg;
}

.spotify-img-container {
  padding: 1.2em;
  min-width: 13em;
  min-height: 13em;
}

.spotify-img {
    border-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.spotify-inner-right-container {
    min-width: 13em;
    padding: 0.8em;
    margin-right: 1.2em;
    border-radius: 0.8em;
    background-color: $bg-alt;
}

.spotify-title {
    color: $green;
    font-size: 1.6em;
    font-weight: bold;
}

.spotify-artist {
    color: $red;
    font-size: 1.2em;
    font-weight: bold;
}

.spotify-album {
    color: $fg;
    font-size: 0.9em;
    font-style: italic;
}

.spotify-controls {
    color: $cyan;
    margin-top: 0.8em;
}

.spotify-controls button {
    font-size: 1.6em;
    font-weight: bold;
}

.spotify-controls button:hover {
    color: $green;
    transition: ease 0.5s;
}
