// Made to be pixel-perfect with 11pt font size
// 1rem = 11pt = 14.6666666667px

@use 'sass:color';
@use '../common/colors' as *;
@use '../common/txt' as *;
@use '../common/mixins' as *;
@use '../common/classes' as *;

$bar_ws_width: 1.774rem;

@mixin bar-group-rounding {
    @include small-rounding;
}

.bar-bg {
    background-color: $layer0;
    min-height: 2.727rem;
}

.bar-wintitle-topdesc {
    margin-top: -0.136rem;
    margin-bottom: -0.341rem;
    color: $windowtitleOnLayer0Inactive;
}

.bar-wintitle-txt {
    color: $windowtitleOnLayer0;
}

.bar-sidemodule {
    min-width: 26rem;
}

.bar-group-margin {
    padding: 0.273rem 0rem;
}

.bar-group {
    background-color: $layer1;
}

.bar-group-pad {
    padding: 0.205rem;
}

.bar-group-standalone {
    @include bar-group-rounding;
    -gtk-outline-radius: 1.364rem;
}

.bar-ws-container {
    transition: 700ms cubic-bezier(0.1, 1, 0, 1);
}

.bar-ws {
    font-size: 1.02rem;
    font-weight: 600;
    min-width: $bar_ws_width;
    color: $workspaceOnLayer1Inactive;
}

.bar-ws-active {
    background-color: $workspaceLayer3;
    color: $workspaceOnLayer3;
}

.bar-ws-occupied {
    background-color: $layer2;
    color: $workspaceOnLayer2;
}
