* {
    transition: 100ms ease-in-out;
}

.system-menu-box {
    border: 0.5em solid $bg-alt;
    border-radius: 1.2em;
    background-color: $bg;
}

.time {
    font-size: 3em;
    margin: 0.3em 0.2em 0em 0.4em;
    text-shadow: 0em 0em 0.1em $blue;
}

.date-box {
    font-size: 1em;
    margin: 1.9em 0em 1em 0.5em;
}

.day,
.date {
    text-shadow: 0em 0em 0.3em $blue;
}

.system_buttons {
    margin: 1em;
    border-radius: 15px;
    background-color: $bg-alt;
    box-shadow: -0.2em 0.2em 0.5em black;
}

.separator {
    color: $bg;
    font-size: 0.5em;
}

.menu-button-box {
    margin: 1em 1.2em 0em 1.2em;
    border-radius: 100px;
}

.menu-button {
    font-size: 1.8em;
    padding: 0.3em 0.7em 0.3em 0.5em;
}

.menu-button-arrow {
    padding: 0.3em 1em 0.3em 0.8em;
}

.menu-button-on {
    background-color: $blue;
    border-radius: 100px 0px 0px 100px;
}

.menu-button-off {
    background-color: $gray;
    border-radius: 100px 0px 0px 100px;
}

.menu-button-arrow-on {
    background-color: $blue;
    border-radius: 0px 100px 100px 0px;
}

.menu-button-arrow-off {
    background-color: $gray;
    border-radius: 0px 100px 100px 0px;
}

.menu-button-label {
    margin-left: 1em;
}

.menu-button-off:hover,
.menu-button-arrow-off:hover {
    background-color: $gray-alt;
}

.menu-button-on:hover,
.menu-button-arrow-on:hover {
    background-color: $cyan;
}

.sliders {
    margin: 1em;
    padding: 1em;
    border-radius: 15px;
    background-color: $bg-alt;
    box-shadow: -0.2em 0.2em 0.5em black;
}

.volume-slider-icon {
    color: $green;
    font-size: 2em;
}

.volume-slider {
    margin-left: 0.5em;
}

.volume-slider trough {
    border-radius: 15px;
    background-color: $gray-alt;
}

.volume-slider highlight {
    padding: 0.3em;
    border-radius: 15px;
    background-color: $green;
}

.spotify {
    margin: 1em;
    min-width: 21em;
    min-height: 10em;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -0.2em 0.2em 0.5em black;
}

.spotify-container {
    min-width: 22em;
    min-height: 10em;
    border-radius: 12px;
    background: linear-gradient(to right, $bg, transparent, $bg);
}

.spotify-song-data {
    margin: 1em;
    min-width: 18em;
}

.spotify-song-title {
    font-size: 1em;
    font-weight: bold;
    text-shadow: 0em 0em 0.3em black;
}

.spotify-song-artist {
    font-size: 0.8em;
    margin: 0.5em 0em 0em 0.2em;
    text-shadow: 0em 0em 0.3em black;
}

.spotify-song-progress {
    font-size: 0.8em;
    margin: 6em 0em 0em 0.2em;
    text-shadow: 0em 0em 0.3em black;
}

.spotify-controls {
    margin-right: 1.5em;
}

.spotify-controls button {
    font-size: 1.6em;
    font-weight: bold;
    text-shadow: 0em 0em 0.3em black;
}

.spotify-controls button:hover {
    color: $green;
    transition: ease 0.5s;
}

.power_buttons {
    margin-bottom: 0.5em;
    margin-right: 1em;

    .button {
        margin: 0.5em;
        border: 0.1em solid $red;
        background-color: $bg-alt;
        border-radius: 3px;
        padding: 0.4em 0.6em 0.4em 0.8em;
        box-shadow: -0.2em 0.2em 0.3em black;
    }

    .button:hover {
        background-color: $gray-alt;
        color: $green;
    }
}
