.left-modules {
    margin: 7px 10px 3px 12px;
}

.right-modules {
    background-color: $bg-alt;
    margin: 7px 20px 7px 10px;
    border-radius: 100px;
    padding: 0px 20px 0px 20px;
}

.separator-bar {
    font-size: 20px;
    color: $gray;
}

.bar {
    background-color: $bg;
    border-radius: 0px 0px 15px 15px;
}

.time-module-box {
    padding-left: 15px;
}

.time-module:hover {
    color: $yellow;
}

.system-buttons-box {
    font-size: 22px;
    padding-right: 15px;
}

.volume-system-button:hover {
    color: $blue;
}

.volume-slider {
    margin: 0px 5px 0px 10px;
}

.volume-slider highlight {
    padding: 0.3em;
    background: linear-gradient(to top, $blue, $cyan);
    border-radius: 15px;
}
