.left-modules {
    margin: 0.4em 1.3em 0.4em 0.1em;
    padding: 0.1em 1.3em 0.1em 0.8em;
}

.right-modules {
    border-radius: 40px;
    background-color: $bg-alt;
    margin: 0.4em 1.3em 0.4em 0.1em;
    padding: 0.1em 1.3em 0.1em 0.8em;
}

.separator-bar {
    color: $gray;
    font-size: 1.3em;
}

.bar {
    border-radius: 1em;
    background-color: $bg;
}

.time-module-box {
    padding-left: 1em;
}

.time-module:hover {
    color: $yellow;
}

.system-buttons-box {
    font-size: 1.4em;
    padding-right: 0.1em;
}

.volume-system-button:hover {
    color: $blue;
}

.volume-slider {
    margin: 0.1em 0.3em 0.1em 0.3em;
}

.volume-slider highlight {
    padding: 0.3em;
    border-radius: 15px;
    background: $cyan;
}

.workspace {
    border-radius: 10px;
    background-color: $bg-alt;
    padding: 0.1em 0.7em 0.1em 0.7em;
}

.ws-active {
    background-color: $blue;
    border-radius: 50%;
    padding: 0.1em 0.5em 0.1em 0.5em;
}

.spotify-bar-container {
    // background-color: $red;
}

.spotify-bar-img {
    margin-right: 0.5em;
}

.spotify-bar-title {
    margin-left: 0.5em;
}
