.left-modules {
    margin: 0.4em 1.3em 0.4em 0.1em;
    padding: 0.1em 1.3em 0.1em 0.8em;
}

.right-modules {
    margin: 0.4em 1.3em 0.4em 0.1em;
}

.separator-bar {
    color: $gray;
    font-size: 1.3em;
}

.bar {
    border-radius: 1em;
    background-color: $bg;
}

.bar2 {
    border-radius: 1em;
    background-color: $bg;
}

.time-module-box {
    padding-left: 1em;
}

.time-module {
    all: unset;
    color: white;
    font-weight: bold;
    text-shadow: 0em 0em 0.2em $blue;
}

.time-module:hover {
    color: $yellow;
}

.workspace {
    border-radius: 10px;
    padding: 0.1em 0.2em 0.1em 0.2em;
}

.ws-active {
    background-color: $blue;
    border-radius: 50%;
    padding: 0.1em 0.4em 0.1em 0.4em;
    box-shadow: 0em 0em 0.3em lightblue;
}

.ws-text {
    color: white;
    font-weight: bold;
}

.spotify-bar-img {
    margin-right: 0.5em;
}

.spotify-bar-title {
    font-weight: bold;
    margin-left: 0.5em;
}
