.module {
  background: $background-transparent;
  color: $foreground;
  min-height: 1px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  font-size: $FONT-SIZE;
  text-shadow: none;
  padding: $SCALE - 10;
  margin: 0;
}

.danger {
  background: $red;
  color: $foreground;
  &:hover,
  &:checked {
    background: rgba($red, 0.8); // Pre-calculated hover and checked state
  }
}

button,
.button {
  @extend .module;
  padding: $SCALE / 2 $SCALE;
  background: $background-secondary;
  min-width: 20px;
  min-height: 20px;

  &:hover {
    background: $background;
    text-shadow: $foreground 0 0 1px;
  }
  &:focus,
  &:checked {
    outline: none;
  }
  &.checked {
    background: $secondary;
    color: $color0;
  }
}

.custom-revealer {
  @extend .module;

  background: $background-secondary;

  &:hover {
    background: $background;
    text-shadow: $foreground 0 0 1px;
  }

  label {
    margin: 0 10px;
  }

  .icon {
    font-size: 1.5em;
    all: unset;
    min-width: 35px;
  }
}

.icon, image {
  font-size: 12px;
  color: $foreground;
}

.icon {
  font-size: $ICON-SIZE;
}

.slider {
  padding: 0px;

  through {
    border-radius: 10px;
    background: $background-transparent;
    color: black;

    slider {
      background: transparent;
      min-height: 0px;
      min-width: 0px;
      margin: 5px;
    }

    highlight {
      background: $secondary;
    }
  }

  &:hover highlight {
    background: $tertiary;
  }
}

menu {
  @extend .module;
  border-radius: 0;
  background: $background;
  padding: 0;
  menuitem {
    border-radius: 0;
    padding: 5px 0;
    margin: 2.5px 0;
    &:hover {
      background: $secondary;
    }
  }
}
