@import "colors.scss";

@import "lib.scss";
@import "widgets/bar.scss";
@import "widgets/right-panel.scss";
@import "widgets/player.scss";
@import "widgets/notification.scss";
@import "widgets/settings.scss";

window {
  font-family: "Maple Mono NF", "Noto Font";
  font-size: $FONT-SIZE;

  background-color: transparent;
  transition: all 0.5s;
}
