@import "colors.scss";

@import "lib.scss";
@import "widgets/bar.scss";
@import "widgets/right-panel.scss";
@import "widgets/player.scss";
@import "widgets/notification.scss";
@import "widgets/settings.scss";

window {
  background-color: transparent;
  transition: all 1s;
  font-size: 10px;
}
