$gradient-Colors: $color0, $color1, $color2, $color3, $color4, $color5, $color6;

$custom-background: linear-gradient(
  rgba($background, 0.33),
  rgba($background, 0.33)
),
linear-gradient(to bottom right, $gradient-Colors);

@keyframes workspace-focus {
  0% {
    background: $background-transparent;
  }
  100% {
    background: $custom-background;
  }
}

@keyframes workspace-unfocus {
  0% {
    background: $custom-background;
  }
  100% {
    background: $background-transparent;
  }
}

.bar {
  border-radius: 50px;
  padding: 5px 10px;
  background: $background-transparent;

  .module {
    padding: $SCALE - 10 $SCALE;
  }

  &.full {
    background: $background-transparent;
  }

  &.empty {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
}

.bar-left {
  .actions {
    button {
      border-radius: 0px;
      padding: 0px 5px;
    }
    button:first-child {
      border-radius: 10px 0px 0px 10px;
      padding-left: 10px;
    }
    button:last-child {
      border-radius: 0px 10px 10px 0px;
      padding-right: 10px;
    }
  }

  .workspaces {
    button {
      padding: 2px 2px;
      border-radius: 0px;

      &.focused {
        background-image: $custom-background;
        animation: workspace-focus 1s;
      }
      &.same-focused {
        background-image: $custom-background;
      }
      &.unfocused {
        animation: workspace-unfocus 1s;
      }
      &.first {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 4px;
      }
      &.last {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-right: 4px;
      }
      &.between {
        border-radius: 0px;
      }
      &.only {
        border-radius: 10px;
      }
      &.inactive {
        background: transparent;
        padding: 0px;
      }
    }
  }
}

.bar-middle {
  .clock {
    &:hover {
      .trigger {
        margin-right: 0px;
        transition: margin-right 0s;
      }
    }
    .revealer {
      margin-left: 0px;
      transition: margin-left 0s;
    }
  }

  .media {
    @extend .module;
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px 10px;

    .progress {
      min-width: 15px;
      margin: 0px;
      font-size: 1px;
      padding: 0px;

      .icon {
        color: unset
      }
    }
  }

  .media-container {
    min-width: 300px;
  }

  .focused-client {
    min-width: 300px;

    label {
      @extend .module;
    }
  }
}

.bar-right {
  .system-tray {
    background: $background-transparent;
    border-radius: 10px;
    padding: 0px;

    button {
      padding: 0px 0px;
    }

    button:first-child {
      padding: 0px 0px 0px 5px;
    }

    button:last-child {
      padding: 0px 5px 0px 0px;
    }

    button:only-child {
      padding: 0px 5px 0px 5px;
    }
  }
}
